*{
    box-sizing: border-box;
    margin: 0;
}
.element{
    width: 200px;
    height: 200px;
    margin: 60px;
    background-color: steelblue;
    /* transition-property: transform/all;
    transition-duration: 1s/0s;
    transition-timing-function: ease-in/ease;
    transition-delay: 1s/0s;
    transition: duracion propiedad deley taming */
    transition: 3s;
} 

.container:hover .element{
    transform: translate(200px);
}